body {
 background-image: url("../photos/Background3.jpg");
 	background-size: cover;
	background-attachment: fixed;
}

#prikazMagKartDropdown {
	margin-left: 50px;
}

#prometniDokumentDropdown{
	margin-right: 50px;
}